<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div layout:fragment="contentWrapper">
    <!-- Main content -->
    <section class="content container-fluid">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">插件配置</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <table class="table table-condensed">
                    <tbody>
                    <tr>
                        <th>任务</th>
                        <th>触发时间</th>
                        <th>结束时间</th>
                        <th>输入</th>
                        <th>输出</th>
                    </tr>
                    <tr th:each="stat : ${stats}">
                        <td th:text="${stat.job}">job</td>
                        <td th:text="${stat.startTime}">start</td>
                        <td th:text="${stat.stopTime}">stop</td>
                        <td th:text="${stat.input}">input</td>
                        <td th:text="${stat.output}">output</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
    </section>
    <!-- /.content -->
</div>
</body>
</html>