<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div layout:fragment="contentWrapper">
    <!-- Main content -->
    <section class="content container-fluid">

        <!--
          ===========================
          | Your Page Content Here |
          ===========================
          -->
        <h4>Version 0.1-alpha</h4>
        <p>系统搭建开发中...</p>
    </section>
    <!-- /.content -->
</div>
</body>
</html>
